<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Dashbord</title>
        <!-- Favicon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="./assests/css/bootstrap.css">
        <link rel="stylesheet" href="./assests/css/Dashbord.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="Sidebar" id="sidebar-wrapper">
                <div class="logo">
                    <img src="./assests/img/admin.ico" alt="">
                </div>
                <br>
                <div class="list-group list-group-flush ms-3">
                    <div class="icon_Home pt-1 me-4 d-flex me-3 div-link">
                        <a href="#" class="fs-5 text-center text-decoration-none text-dark d-flex align-items-center nav-link">
                            <i class="bi  bi-house me-3"></i>
                            Home</a>
                      </div>
                      <br>
                      <div class="mt-3 d-flex ms-3">
                        <a href="#" class="fs-5 text-center me-3 text-decoration-none text-dark ">
                            <i class="fa-solid fa-hard-hat me-3"></i>
                            Agents</a>
                      </div>
                      <br>
                      <div class="mt-3 d-flex ms-3">
                        <a href="#" class="fs-5 text-center  text-decoration-none text-dark ">
                            <i class="fa-solid fa-file-edit me-3 "></i>
                            Rapports</a>
                      </div>
                      <br>
                      <div class="mt-3 d-flex ms-3">
                        <a href="#" class="fs-5 text-center me-1 text-decoration-none text-dark">
                            <i class="fa-solid fa-line-chart me-3 "></i>
                            Relevés</a>
                      </div>
                      <br>
                      <div class="mt-3 d-flex ms-3">
                        <a href="#" class="fs-5 text-center me-2 text-decoration-none text-dark ">
                            <i class="fa-solid fa-gear me-3"></i>
                            Anomalies</a>
                      </div>
                    </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper" class="body-page">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg  navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand navIcons" id="sidebarToggle">
                        <i class="bi bi-text-left fs-5 ms-3"></i>
                        </a>
                        <form class="d-flex">
                            <div class="me-2 position-relative">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn position-absolute top-0 end-0 btn-sh" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                              <button  class="btn"> <i class="fa-solid fa-bell fs-4"></i></button>
                              <button  class="btn"><i class="fa-solid fa-right-from-bracket fs-4"></i></button>
                        </form>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="container">
                        <div class="container-fluid">
                            <section>
                              <div class="row">
                                <div class="col-12 mt-4 mb-1">
                                  <h5 class="text-uppercase">Welcome To Your Statistic</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-6 col-md-12 mb-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between p-md-1">
                                        <div class="d-flex flex-row">
                                          <div class="align-self-center">
                                            <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                                          </div>
                                          <div>
                                            <h4>Total Rapports</h4>
                                            <p class="mb-0">Les rapports de chaque poste</p>
                                          </div>
                                        </div>
                                        <div class="align-self-center">
                                          <h2 class="h1 mb-0">18</h2>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-6 col-md-12 mb-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between p-md-1">
                                        <div class="d-flex flex-row">
                                          <div class="align-self-center">
                                            <i class="far fa-comment-alt text-warning fa-3x me-4"></i>
                                          </div>
                                          <div>
                                            <h4>Total Relevés</h4>
                                            <p class="mb-0">Les relevé de chaque machines</p>
                                          </div>
                                        </div>
                                        <div class="align-self-center">
                                          <h2 class="h1 mb-0">84</h2>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xl-6 col-md-12 mb-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between p-md-1">
                                        <div class="d-flex flex-row">
                                          <div class="align-self-center">
                                            <h2 class="h1 mb-0 me-4">4</h2>
                                          </div>
                                          <div>
                                            <h4>Total Agents</h4>
                                            <p class="mb-0">Agents de chaque departement</p>
                                          </div>
                                        </div>
                                        <div class="align-self-center">
                                          <i class="far fa-user text-danger fa-3x"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-6 col-md-12 mb-4">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="d-flex justify-content-between p-md-1">
                                        <div class="d-flex flex-row">
                                          <div class="align-self-center">
                                            <h2 class="h1 mb-0 me-4">22</h2>
                                          </div>
                                          <div>
                                            <h4>Total Anomalies</h4>
                                            <p class="mb-0">Anomalies des machines</p>
                                          </div>
                                        </div>
                                        <div class="align-self-center">
                                          <i class="fab fa-whmcs text-success fa-3x"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./assests/js/scripts.js"></script>
    </body>
</html>