

/* #sidebarToggle.navIcons{
  transform: rotate(180deg);
} */

*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}
  
a{
    text-decoration: none;
    color: rgb(157, 153, 153);
}
  
a:hover{
    color: rgb(168, 167, 167);
}

.logo{
    margin: 5 auto;
}

.navbar{
    background-color:  rgb(123, 122, 122);
    
}

  
  
.nav-bar_left .nav-link {
margin: 5px 0 ;
}

.div-link a{
    width: 100%;
    background-color: azure;
    border-radius: 10px;
}
  
.logo img{
    margin: 0 10px;
}

.Sidebar{
    background-color: rgb(123, 122, 122);
}

.navIcons{
    cursor: pointer;
}

.form-control{
    margin-top: 10px;
}

.btn-sh{
    margin-top: 10px;
}

